@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*共用區*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --red: #932621;
    --brown: #B28649;
    --beige: #F2E3C4;
    --green: #596E13;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    /* 取消預設的底線裝飾 */
}

ul {
    list-style: none;
}

body {
    font-family:
        /* 中文 */
        "微軟正黑體", "Microsoft JhengHei", sans-serif,
        "Lexend", sans-serif;
}


/* 頁頭 */

#myBtn {
    display: none;
    position: fixed;
    z-index: 99;
    right: 30px;
    bottom: 15px;
    border: none;
    /* button原始線框去掉 */
    background-color: transparent;
    /* button原始被景色改透明 */
}

/* 要在原本CSS區塊下方 */
/* 筆電的斷點 */
@media (max-width:1440px) {
    #myBtn {
        right: 100px;
        bottom: 20px;
    }
}

/* 平板斷點 */
@media(max-width:820px) {
    #myBtn {
        right: 250px;
        bottom: 20px;
    }

}

/* 手機斷點 */
@media (max-width:640px) {}


.top {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #F2E3C4;
}

.logo {
    align-items: flex-start;
}

.logo img {
    width: 130px;
    height: 55px;
    margin-left: 50px;
}

.nav {
    align-items: flex-end;
    margin-left: 1100px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li a {
    font-size: 1rem;
    color: #932621;
    margin: 15px;
    font-weight: bold;
}

.nav li a img {
    width: 70px;
    height: 70px;
}

/* 筆電的斷點 */
@media (max-width:1440px) {
    .nav {
        align-items: flex-end;
        margin-left: 520px;
    }

}

/* 平板斷點 */
@media(max-width:820px) {

    .nav {
        align-items: flex-end;
        margin-left: 130px;
    }

    .nav li a {
        margin: 10px;
    }
}

/* 手機斷點 */
@media (max-width:640px) {}

/* 內容 */



/* 關於我們 */
.About {
    width: 100%;
    height: 690px;
    display: flex;
    /* 
    position: relative; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.About-us {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 
    position: absolute; */
}

.About-us h1 {
    font-size: 1.3rem;
    color: #932621;
    margin: 0;
}

.About-us h2 {
    font-size: 1rem;
    color: #B28649;
    margin: 4px;
}

.About p {
    font-size: 1rem;
    color: #B28649;
    margin-top: 50px;
}

.Aboutimg {
    width: 1820px;
    height: 400px;
    border-radius: 200px 0 200px 0;
    background-image: url("./image/abousbn.jpg");
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-size: cover;
    background-position: center center;
}

/* 水平線裝飾 */
.line {
    border: 0.2px solid #F2E3C4;
    width: 1470px;
    margin-top: 30px;
}

/* 筆電的斷點 */
@media (max-width:1440px) {
    .Aboutimg {
        width: 90%;
        height: 300px;
    }

    .line {
        width: 90%;
        margin-top: 30px;
    }

}

/* 平板斷點 */
@media(max-width:820px) {

    .Aboutimg {
        width: 90%;
        height: 200px;
    }

    .line {
        width: 90%;
        margin-top: 30px;
    }

}

/* 手機斷點 */
@media (max-width:640px) {}

/* 農夫簡介 */

.star-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /*    position: absolute;
    z-index: 2;*/
}

.mask-img1 {
    /* 遮罩 */
    mask-image: url("./image/Subtract.png");
    -webkit-mask-image: url("./image/Subtract.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 400px;
    mask-position: center center;
    mask-size: 300px;
    margin-top: 50px;

}

.mask-img2 {
    /* 遮罩 */
    mask-image: url("./image/Subtract.png");
    -webkit-mask-image: url("./image/Subtract.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 400px;
    mask-position: center center;
    mask-size: 300px;
    margin-top: 50px;
}

.star {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    position: relative;
    align-items: center;
}

.star-number {
    width: 75px;
    height: 55px;
    border-radius: 0 200px 0 200px;
    background-color: #932621;
    position: absolute;
    z-index: 1;
    margin-right: 45px;
    margin-top: 35px;
    font-size: 1rem;
    transform: rotate(-5deg);
}

.star h2 {
    color: #932621;
    font-size: 1.3rem;
    margin-top: 12px;
}

.star-type {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.star-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.star-text h4 {
    font-size: 1rem;
    color: #932621;
}

.star-text h5 {
    margin-top: 8px;
    font-size: 1rem;
    color: #B28649;
}

.star-line {
    border: 0.2px solid #F2E3C4;
    width: 1470px;
    margin-top: 100px;
    margin-left: 200px;
}

.tree02 {
    position: relative;
}

/* 筆電的斷點 */
@media (max-width:1440px) {

    .mask-img1 {
        /* 遮罩 */
        width: 360px;
        mask-size: 250px;
    }

    .mask-img2 {
        /* 遮罩 */
        width: 360px;
        mask-size: 250px;
    }

    .star-number {
        width: 60px;
        height: 45px;
        margin-right: 45px;
        margin-top: 45px;
    }

    .star-text {
        margin-right: 60px;
    }

    .star {
        margin-top: 20px;

    }
     

}

/* 平板斷點 */
@media(max-width:820px) {

.star-box{
    display: flex;
    flex-direction: column;
}
.star{
   margin-top:  0;
}
.tree02 {
    position: relative;
}  

}

/* 手機斷點 */
@media (max-width:640px) {}





/* 四大堅持 */
.Four {
    width: 100%;
    height: 690px;
    display: flex;
    /*   justify-content: center; */
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 160%
}

.Four-feature {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Four-feature h1 {
    font-size: 1.3rem;
    color: #932621;
    margin: 0;
}

.Four-feature h2 {
    font-size: 1rem;
    color: #B28649;
    margin: 4px;
}


/* 四大堅持倫播 */
.feature-box {
    display: flex;
    overflow: hidden;
    width: 100%;
}

#carousel {
    display: flex;
    /* 将轮播项水平排列 */
}


.feature {
    align-items: center;
    flex-direction: row;
    padding: 40px;
    flex-direction: column;
    display: flex;

}

.feature img {
    width: 615px;
    height: 325px;
    border-radius: 80px 0 80px 0;
}

.feature h2 {
    font-size: 1.3rem;
    color: #932621;
    margin-top: 30px;
}

.feature p {
    font-size: 1rem;
    color: #B28649;
    margin-top: 30px;
    line-height: 30px;
}

/* 筆電的斷點 */
@media (max-width:1440px) {
    .Four {
        top: 155%
    }

    .feature img {
        width: 600px;
        height: 280px;
        border-radius: 80px 0 80px 0;
    }
}

/* 平板斷點 */
@media(max-width:820px) {
.Four{
   margin-top: 70%;
}
.feature p {
    margin-top: 4px;
}

}

/* 手機斷點 */
@media (max-width:640px) {}

/* 地圖 */


.MAP {
    width: 100%;
    background-color: #B28649;
    display: flex;
    align-items: center;
    margin-top: 350px;

}

.map-text {
    font-size: 1rem;
    color: #fff;
    margin-left: 40px;
}

.map-text p {
    margin-top: 8px;
}

/* 筆電的斷點 */
@media (max-width:1440px) {
    .MAP {
        flex-direction: column;
        height: auto;
        margin-top: 400px;
        /* 可調整上方間距 */

    }

    .Map iframe {
        width: 100%;
   
    }

    .map-text {
        width: 100%;
        margin-left: 0;
        padding: 10px;
        text-align: center;
        height: 150px;
    }
}

/* 平板斷點 */
@media(max-width:820px) {
    .Map iframe {
        width: 90%;

    }
}

/* 手機斷點 */
@media (max-width:640px) {}

/* 頁尾 */
.footer {
    width: 100%;
    height: 350px;
    background-color: #932621;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerlogo {
    width: 130px;
    height: 50px;
    background-image: url("./image/footer-logo.png");
    margin-top: 30px;
}

.phon {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.phon p {
    color: #fff;
    margin-left: 8px;
}

.phon img {
    width: 20px;
    height: 20px;
}

.home {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.home p {
    color: #fff;
    margin-left: 8px;
}

.home img {
    width: 20px;
    height: 20px;
}

.footernav {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.footernav a {
    color: #fff;
    margin: 20px;
    font-size: 1rem;
    text-decoration: none;
}

.end {
    color: #fff;
    font-size: 0.8rem;
    margin-top: 30px;
}

.footertree {
    width: 100%;
    height: 210px;
    position: absolute;
    bottom: 0;
}

.up {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* 筆電的斷點 */
@media (max-width:1440px) {
    .footer {
        position: relative;

    }

    .footertree img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 180px;
        overflow: hidden;
    }
}

/* 平板斷點 */
@media(max-width:820px) {}

/* 手機斷點 */
@media (max-width:640px) {}